@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

$bodyFont: Roboto, sans-serif;

// Color
$darkBgColor: #1F2937;
$lightBgColor: #E5E7EB;
$lightTextColor: #F9FAF8;
$darkTextColor: #1F2937;
$lightGrey: #E5E7EB;
$darkGrey: #96979b;
$buttonColor: #3882F6;

// Font Sizing
$largeFont: 48px;
$medFont: 36px;
$smallFont: 24px;
$tinyFont: 18px;


