@import "variables";

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

body{
    font-family: $bodyFont;
    height: 100vh;
    width: 100vw;
    background-color: $darkBgColor;
}

nav{
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 60px;
        padding: 20px 0;
        align-items: baseline;
        font-size: $tinyFont;
        .logo{
            margin-right: auto;
            color: $lightTextColor;
            font-weight: 800;
            font-size: $smallFont;
        }
        li{
            color: $lightGrey;
            a{
                color: $lightGrey;
                text-decoration: none;
                &:visited{
                    color: inherit;
                }
            }
        }
    }
}

.section-one{
    .container{
        display: flex;
        gap: 100px;
        padding: 100px 0;
        .side-text{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            h1{
                font-size: $largeFont;
                color: $lightTextColor;
            }
            p{
                color: $lightGrey;
                font-size: $tinyFont;
                line-height: 25px;
            }
            button{
                color: $lightTextColor;
                border: none;
                outline: none;
                background-color: $buttonColor;
                font-family: $bodyFont;
                font-size: $tinyFont;
                width: 25%;
                padding: 5px 10px;
                border-radius: 8px;
                cursor: pointer;
            }
        }
        .side-image{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $darkGrey;
            color: $lightTextColor;
        }
    }   
}

.section-two{
    background-color: $lightTextColor;
    .container{
        width: 60%;
        padding: 50px 0 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        h1{
            font-size: $medFont;

        }
        .cards{
            display: flex;
            gap: 80px;
            .card{
                gap: 10px;
                .square{
                    height: 210px;
                    border: 5px solid $buttonColor;
                    border-radius: 20px;
                }
                display: flex;
                flex-direction: column;
                text-align: center;
                p{
                    font-size: $tinyFont;
                    color: $darkTextColor;
                }
            }
        }
    }
}

.section-three{
    background-color: $lightBgColor;
    .container{
        width: 60%;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        p{
            font-size: $medFont;
            font-weight: 300;
            font-style: italic;
        }
        h2{
            margin-left: auto;
            font-size: $smallFont;
        }
    }
}

.section-four{
    background-color: $lightTextColor;
    .container{
        padding: 100px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-section{
            background-color: $buttonColor;
            border-radius: 10px;
            padding: 50px 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 200px;
            .text-section{
                h2{
                    color: $lightTextColor;
                    font-size: $smallFont;
                }
                p{
                    color: $lightGrey;
                    font-size: $tinyFont;
                }
            }
            .side-btn-section{
                display: flex;
                align-items: center;
                button{
                    color: $lightTextColor;
                    border: 2px solid $lightTextColor;
                    outline: none;
                    background-color: transparent;
                    font-family: $bodyFont;
                    font-size: $tinyFont;
                    padding: 5px 35px;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }
        }
    }
}

footer{
    .container{
        padding: 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $tinyFont;
        color: $lightGrey;
        font-weight: 300;
    }
}